<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="uk.co.safetybank.plugin.sbstaticresources"
        version="0.1.1">

    <name>Safetybank static resources</name>

    <description>Static resources of safetybank mobile app</description>
    <repo>https://github.com/Hless/cordova-plugin-orientation-changer</repo>
    <keywords>safetybank</keywords>
    <license>Commercial</license>

    <author>Safetybank</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/sbstaticresources.js" name="sbstaticresources">
        <clobbers target="window.plugins.sbstaticresources" />
    </js-module>
	<asset src="www/img/logo.svg" target="../plugins/uk.co.safetybank.plugin.sbstaticresources/img/logo.svg" />
	<asset src="www/img/loading.svg" target="../plugins/uk.co.safetybank.plugin.sbstaticresources/img/loading.svg" />
	<asset src="www/img/doc.png" target="../plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/offline.png" target="../plugins/uk.co.safetybank.plugin.sbstaticresources/img/offline.png" />
	<asset src="www/img/sprite-ico-64@2x.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/sprite-ico-64.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/sprite-ico-32@2x.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/sprite-ico-32.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/sprite-ico-24@2x.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/logo_tagline.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/icon/icon.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/css/bootstrap/bootstrap3.css" target="plugins/uk.co.safetybank.plugin.sbstaticresources/css/bootstrap/" />
	<asset src="www/img/drag-handle.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/sprite-ico-24.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/workers.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/worker.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/worker-white.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/img/profile-white.png" target="plugins/uk.co.safetybank.plugin.sbstaticresources/img/" />
	<asset src="www/css/fonts/Chalet-LondonNineteenSixty.woff" target="plugins/uk.co.safetybank.plugin.sbstaticresources/css/fonts/" />
	<asset src="www/css/fonts/glyphicons-halflings-regular.woff" target="plugins/uk.co.safetybank.plugin.sbstaticresources/css/fonts/" />
	<asset src="www/css/fonts/asap-regular-webfont.woff" target="plugins/uk.co.safetybank.plugin.sbstaticresources/css/fonts/" />
		

    <!-- android -->
    <!-- <platform name="android">
        <source-file src="src/android/OrientationChanger.java" target-dir="src/com/boyvanderlaak/cordova/plugin/orientationchanger" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OrientationChanger">
                <param name="android-package" value="uk.co.safetybank.plugin.orientationchanger.OrientationChanger" />
            </feature>
        </config-file>
    </platform> -->

</plugin>
