<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="uk.co.safetybank.plugin.sbstaticresources"
        version="0.1.1">

    <name>Safetybank static resources</name>

    <description>Static resources of safetybank mobile app</description>
    <repo>https://github.com/Hless/cordova-plugin-orientation-changer</repo>
    <keywords>safetybank</keywords>
    <license>Commercial</license>

    <author>Safetybank</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/sbstaticresources.js" name="sbstaticresources">
        <clobbers target="window.plugins.sbstaticresources" />
    </js-module>

    

    <!-- android -->
    <!-- <platform name="android">
        <source-file src="src/android/OrientationChanger.java" target-dir="src/com/boyvanderlaak/cordova/plugin/orientationchanger" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OrientationChanger">
                <param name="android-package" value="uk.co.safetybank.plugin.orientationchanger.OrientationChanger" />
            </feature>
        </config-file>
    </platform> -->

</plugin>
